.container {
    display: flex;
    flex-direction: column;
}

.headerContainer {
    background-color: #FBF8FB;
}

.headerContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerContent h1 {
    font-family: 'Tisa Sans Pro', sans-serif;
    font-weight: 400;
    color: #444444;
    padding: 1.2em 0 0.5em 0;
}

.header {
    background-color: #F8F9FB;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2.2rem;
}

.header > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header > div > h1 {
    font-family: 'Tisa Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #444444;
    padding: 1.2em 0 0.5em 0;
}

.header > div > p {
    margin: 0 1em;
}

.headerImage {
    height: 25em;
    width: 100%;
    margin-top: 2.2em;
    object-fit: cover;
    object-position: 50% 10%;
}

.content {
    flex: 0 1 auto;
    margin-top: 5em;
    width: 100%;
    background: #FFFFFF;
}

.footerContainer {
    flex: 0 50px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #2C2D38;
    color: #c5c5c5;
    font-size: 1em;
}

:global(.main) {
    background-color: #ffffff;
    padding: 0 1.55em;
    font-family: 'Tisa Sans Pro', sans-serif;
}

:global(.main) h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

:global(.main) p, :global(.main) a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
}

:global(.main) a {
    color: #3C2F97;
    font-weight: 600;
}

@media (min-width: 992px) {
    .header {
        margin-bottom: 4rem;
    }
}

@media (min-width: 1200px) {
    .headerContainer {
        padding: 0 6em;
    }
}


@media (min-width: 1450px) {
    .headerContainer {
        padding: 0 12em;
    }
}

@media (min-width: 1800px) {
    .headerContainer {
        padding: 0 24em;
    }
}

 /* exercise classes */ 

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
 }

 .cards div {
     flex: 1 0 auto;
 }

.cards > div:first-child {
    background-color: #7E4891;
    color: #FFFFFF;
    flex: 0 1 auto;
    padding: 1em 2em;
    
}

.cards h2 {
    margin: 0;
    font-size: 2rem;
}

.cards p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.cards .cardImage {
    width: 100%;
    object-fit: cover;
    height: 22em;
}


@media (min-width: 768px) {
    .cards {
        background: none;
        display: block;
    }

    .cards > div:first-child {
        background-color: #7E4891;
        color: #FFFFFF;
        width: 48%;
        z-index: 5;
        position: relative;
        padding: 1.5em 2em;
        overflow: hidden;
        min-height: 18em;
    }

    .cards > div > h2 {
        font-weight: 400;
        padding-bottom: 0.3em;
    }

    .cards .cardImage {
        width: 65%;
        float: right;
        position: relative;
        object-fit: cover;
        top: -19em;
        margin-bottom: -15em;
        height: 22em;
    }
}

@media (min-width: 992px) {
    .cards .cardImage {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .cards {
        padding: 0 6em;
    }

    .cards .cardImage {
        width: 55%;
    }
}


@media (min-width: 1450px) {
    .cards {
        padding: 0 12em;
    }
}

@media (min-width: 1800px) {
    .cards {
        padding: 0 24em;
    }
}

/* mainContent */

.mainContent {
    background-color: #F6F6F6;
    padding: 1em 2em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #444444;
}

.mainContent > div {
    flex: 0 1 auto;
}

.mainContent img {
    width: 100%;
}


.mainContent h2 {
    font-weight: 500;
    padding-bottom: 0.3em;
}

.mainContent p {
    font-size: 1.1em;
    font-family: 'Open Sans';
    margin-top: 1em;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .mainContent {
        flex-wrap: nowrap;
    }

    .mainContent > div {
        padding: 1em 1em;
        flex: 0 1 50%;
    }
}

@media (min-width: 1450px) {
    .mainContent {
        padding: 0 12em;
    }
}

@media (min-width: 1800px) {
    .mainContent {
        padding: 0 24em;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .header {
        padding: 0 6em;
    }
}

@media (min-width: 1450px) {

    .header {
        padding: 0 12em;
    }
}

@media (min-width: 1800px) {

    .header {
        padding: 0 24em;
    }
}