.container {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 0 1 auto;
    margin-top: 5em;
    width: 100%;
    background: #FFFFFF;
}

.header {
    background-color: #F8F9FB;
    font-family: 'Open Sans', sans-serif;
}

.header > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header > div > h1 {
    font-family: 'Tisa Sans Pro', sans-serif;
    font-weight: 400;
    color: #444444;
    padding: 1.2em 0 0.5em 0;
}