.navbar:hover {
    background-color: #412e80;
    transition: background-color 200ms linear;
}

.navbar:not(:hover) {
    background-color: inherit;
    transition: background-color 250ms linear;
}

.navbar {
    border: none;
    /* padding-bottom: 20px; */
}