@font-face {
    font-family: 'Tisa Sans Pro';
        src: url('TisaSansPro_400.woff') format('woff'), /* Pretty Modern Browsers */
            url('TisaSansPro_400.otf')  format('opentype'); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Tisa Sans Pro';
      src: url('TisaSansPro_500.woff') format('woff'), /* Pretty Modern Browsers */
          url('TisaSansPro_500.otf')  format('opentype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
}

.lower {
    flex: 0 1 auto;
    margin-top: 5em;
    width: 100%;
    background: #FFFFFF;
}

.navContainer {
    flex: 0 50px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.footerContainer {
    flex: 0 50px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #2C2D38;
    color: #c5c5c5;
    font-size: 1em;
}

.card {
    margin: 0.6em;
}

.lower .alert {
    width: 100%;
    padding-top: 20px;
    position: static;
}

@media (min-width: 1200px) {
    .alert {
        width: 75% !important;
        margin:  3em auto;
        padding-top: 16px;
    }
}