.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.lower {
    flex: 0 1 auto;
    width: 100%;
    background: rgb(236, 236, 236);
}

.navContainer {
    flex: 0 50px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.footerContainer {
    flex: 0 50px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #2C2D38;
    color: #c5c5c5;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 1em;
}

.card {
    margin: 0.6em;
}

.alert {
    width: 100%;
    padding-top: 20px;
}

.newsEvents {
    /* width: 75%; */
    margin: auto;
}

.newsEvents h2 {
    margin: 0.66em 1em;
}

.newsItems {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    flex-wrap: wrap;
}

@media (min-width: 1200px) {
    .alert {
        width: 75% !important;
        margin:  3em auto;
        padding-top: 16px;
    }

    .newsEvents {
        width: 90%;
        margin: auto;
    }
}


@media (min-width: 1450px) {

    .newsEvents {
        width: 75%;
        margin: auto;
    }
}

@media (min-width: 1800px) {

    .newsEvents {
        width: 65%;
        margin: auto;
    }
}