.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.lower {
    flex: 0 1 auto;
    width: 100%;
    background: rgb(236, 236, 236);
}

.navContainer {
    flex: 0 50px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.footerContainer {
    flex: 0 50px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #2C2D38;
    color: #c5c5c5;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 1em;
}

.card {
    margin: 0.6em;
}

.alert {
    width: 100%;
    padding-top: 20px;
}

@media (min-width: 1200px) {
    .alert {
        width: 75% !important;
        margin:  3em auto;
        padding-top: 16px;
    }
}