.container {
    font-family: 'Tisa Sans Pro', 'Cabin', sans-serif;
    margin: 0;
    background-color: #2C2D38;
    color: #FFFFFF;
    font-size: 0.9rem;
    padding: 0.7em 2em;
}

.header {
    font-size: 1.5rem;
    color: #FFFFFF;
    border-bottom: 1px solid #525252;
    padding: 0.5em 0 0.2em 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact, .quickLinks {
    flex: 1 1 14em;
    margin: 0 1em;
}

.contact > div {
    padding-top: 0.2em;
    display: flex;
    align-items: center;
}


.contactMethod, .contactMethod:active, .contactMethod:hover  {
    margin-left: 0.6em;
    color: #FFFFFF;
    text-decoration: none;
}

.quickLinks > div {
    /* flex: 0 0 100%; */
    width: 100%;
    padding-top: 0.2em;
    display: flex;
}

.quickLinks > div > a {
    flex: 0 0 10em;
}

.legalLinks {
    flex: 1 0 20em;
    margin: 0 1em;
    display: flex;
}

.logo {
    flex: 2 0 12em;
    margin: 0 1em;
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.logo img {
    height: 4em;
}

.legal {
    flex: 3 0 20em;
    margin: 0 1em;
    padding-bottom: 1.5em;
    font-size: 0.8rem;
    color: #E8E8E8;
    align-self: flex-end;
}

.legal p {
    margin: 0;
    text-align: center;
}

.legalLinks > a {
    flex: 0 0 10em;
}

@media (min-width: 576px) {
    .container {
        padding: 0.7em 7em;
    }
}

@media (min-width: 768px) {

    .container {
        padding: 0.7em 0;
    }

    .quickLinks > div > a {
        flex: 0 0 8em;
    }

    .logo {
        padding: 1em 0;
        order: 1;
        justify-content: flex-end;
    }

    .logo img {
        height: 3em;
    }

    .legalLinks {
        order: 2;
        padding: 1.3em 0 0 0;
    }

    .legalLinks > a {
        flex: 0 0 8em;
    }

    .legal {
        order: 3;
        padding-bottom: 0;
    }

    .legal > p {
        margin-bottom: 0;
        text-align: right;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0.7em 3em;
    }

    .contact, .quickLinks {
        flex: 1 1 20em;
    }

    .quickLinks > div > a {
        flex: 0 0 10em;
    }

    .quickLinks > a {
        flex: 0 0 9em;
    }

    .legalLinks > a {
        flex: 0 1 9em;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0.7em 11em;
    }

    .contact, .quickLinks {
        flex: 0 1 20em;
        /* margin-right: 2.5em; */
    }

    .logo img {
        height: 3em;
    }

    .legal {
        font-size: 0.9rem;
    }
}

@media (min-width: 1450px) {
    .container {
        padding: 0.7em 12em;
        font-size: 1.1rem;
    }

    .contact, .quickLinks {
        flex: 0 1 16em;
        /* margin-right: 2.5em; */
    }

    .logo {
        padding: 0.5em 0;
    }

    .logo img {
        height: 3.2em;
    }
    
    .quickLinks > div > a {
        flex: 0 1 9em;
    }

    .legalLinks > a {
        flex: 0 1 6.7em;
    }
}

@media (min-width: 1800px) {
    .container {
        padding: 0.7em 20%;
    }

    .contact, .quickLinks {
        flex: 0 1 18em;
        margin-right: 2.5em;
    }

    .logo img {
        height: 3em;
    }

    
}