.navbar:hover {
    background-color: #e6e6e6;
    transition: background-color 200ms linear;
}

.navbar:not(:hover) {
    background-color: inherit;
    transition: background-color 250ms linear;
}

.navbar {
    border: none;
    margin-bottom: 0;
}