.link {
    font-weight: 400;
    font-family: 'Cabin';
    font-size: 1.18em;
}

@media (min-width: 992px) {
    .container {
        height: 92px;
    }

    .logo > img {
        height: 60px;
    }
}

