.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 1em;
    z-index: 10;
    background-color: #FFFFFF;
    height: 5em;
    box-shadow: 2px 2px 5px 2px #cfcfcf;
}

.container ul {
    display: none;
}

.container ul li a {
    margin: 0.15em 1em;
    font-family: 'Tisa Sans Pro', sans-serif;
    font-weight: 500;
    color: #000;
}

.container ul li a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .container {
        padding: 0.7em 0;
    }

    .container ul {
        display: flex;

        list-style: none;
        /* height: 100%; */
        margin: 0;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0.7em 3em;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0.7em 6em;
    }
}

@media (min-width: 1450px) {
    .container {
        padding: 0.7em 12em;
    }
}

@media (min-width: 1800px) {
    .container {
        padding: 0.7em 20%;
    }
}