.navLink {
    list-style: none;
    display: inline-block;
}

.slogan {
    float: right;
    font-weight: normal;
    font-size: 13pt;
    margin: 12px 8px;
    font-family: Roboto, Helvetica Neue, sans-serif;
}

.navImage {
    height: 50px;
    width: 50px;
    padding: 5px;
}

.navLink a, .navLink a:hover {
    text-decoration: none;
    color: #242424;
    display: inline-block;
}

.navLink h1 {
    font-weight: normal;
    font-size: 2em;
    padding: 0.67em 0;
    margin: 0;
}

/* Small devices i.e. tablets */
@media screen and (min-width: 768px) {
    .navImage {
        height: 100px;
        width: 100px;
    }

    .slogan {
        font-size: 18pt;
        margin: 30px 20px;
    }
}

/* Medium devices i.e. desktops */
@media screen and (min-width: 992px ) {
    
}

/* Large devices i.e. large desktops */
@media screen and (min-width: 1200px ) {
}