.container {
    padding: 15px 0 0 0;
}

.button {
    font-size: 0.95rem;
    height: 36px;
    line-height: 32px;
    padding: 0 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
}

.button.outlined {
    border: 1px black solid;
    border-radius: 10px;
}

.button.outlined:hover {
    background-color: rgba(167, 167, 167, 0.08);
}